html {
    font-size: small;
    background: white;
    width: 100%;
    height: 100%;
    background-image: url(Images/deer_pattern.jpg);
    background-size: cover;
}

body {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

div.content-wrapper {
    min-height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    background-size: cover;
}

header.principal {
    text-align: center;
    background-color: #f04766;
    color: white;
    padding: 1.5em;
}

header.principal h1 {
    font-size: 6em;
    font-family: 'Pacifico';
}

header.principal h3 {
    font-size: 2em;
    font-family: 'Slabo 27px';
}

nav {
    background: #FFF;
    padding: 1em;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul a {
    font-family: 'Slabo 27px';
    padding: 0.7em 4em;
    margin: 0 1em;
    color: #000;
    font-size: medium;
    text-decoration: none;
}

nav ul a:link, nav ul a:visited {
    color: #000;
}

nav ul a:hover {
    background-color: #f04766;
    color: white;
}

#current {
    color: #f04766;
    background-color: #fff;
}

section.main {
    color: #000;
    text-align: center;
    font-size: 10em;
    font-family: 'Amatic SC';
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    
    text-align: center;
    background-color: #51a8b1;
    padding: 0.5em 0;
    margin: 0;
}

footer p {
    color: white;
    line-height: 1.em;
    font-family: 'Slabo 27px', serif;
}
